header {
  height: 70px;
  background-color: $blackBrandColor;
  .wrapper {
    @include flexSet(row, space-between, center);
    height: 100%;
    padding: 0 15px;
    a {
      img {
        width: 50px;
        vertical-align: middle;
      }
    } //a
  } //wrapper
} //header
