main {
  padding: $standardSectionPad;
  background-color: $lightBlackBrandColor;
  .wrapper {
    @include flexSet(row, flex-start, stretch);
    .disc-container {
      width: calc(100% / 3 - $lateralMargin);
      margin: $mainMarginBlock
      padding: 20px 20px 50px;
      background-color: $blackBrandColor;
      img {
        width: 100%;
      }
      .text {
        margin-top: 10px;
        text-align: center;
        h3 {
          margin-bottom: 15px;
        }
        span {
          display: inline-block;
          color: $lightGreyBrandColor;
        }
      }
    }
  } //wrapper
} //main
